annotated-types==0.7.0
click==8.3.1
Faker==40.8.0
-e git+https://github.com/plagye/sc-sim.git@d475cabcc91e61c9a088bc6b4d3b1f6b1fb7cb20#egg=flowform_sim
iniconfig==2.3.0
packaging==26.0
pluggy==1.6.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pytest==9.0.2
PyYAML==6.0.3
ruff==0.15.4
typing-inspection==0.4.2
typing_extensions==4.15.0
